body {
    background-image: url('../imgs/bg3.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Public Pixel', sans-serif;
}

h1, h2{
    margin: 5px 0px;
    color: white;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

.color {
    width: 15px;
    height: 15px;
    border: solid black 2px;
    margin: 0px 15px;
    cursor: pointer;
}

.selected {
    border: solid gold 2px;
}

#fixed-color, #random-color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 480px;
    height: 480px;
    border-radius: 15px;
}

#inputPixel {
    width: 60px;
}

#buttons {
    margin: 20px 0px 10px 0px;
}

#board {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-top: black solid 1px;
    border-left: black solid 1px;
    height: 440px;
    width: 440px;
}

.pixel {
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    
}

label {
    font-size: 10px;
    color: white;
}

button {
    font-family: 'Public Pixel', sans-serif;
    font-size: 8px;
}

footer {
    margin-top: auto;
    padding-bottom: 5px;
    font-size: 5px;
}